.container{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #f4f6f8;
    border-radius: 8px;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
}

.tabela th,
.tabela td{
    padding: 1px 40px;
    text-align: left;
}

.addButton {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.addButton:hover {
    background-color: #115293;
}