
.footer{
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    margin-top: 40px;
    color: #555;
    border-top: 1px solid #ddd;
}

.social_list {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    padding: 1px;
}

.social_list a{
    font-size: 24px;
    color: #444;
    transition: 0.3s;
    cursor: pointer;
}

.social_list a:hover{
    transform: scale(1.2);
    color: #0A66C2;
}